In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df=pd.read_csv('../data/smartwatches.csv',index_col=0)

In [58]:
df.head()

,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,noise,82990.0,89900.0,7.686318,4.0,65.0,Circle,Black,Silicon,Yes,8.0,Yes,NaN,NaN
1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,Circle,Black,Silicon,Yes,3.5,Yes,NaN,NaN
2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Circle,Black,Silicon,Yes,8.0,Yes,NaN,NaN
3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,Circle,Black,Silicon,Yes,3.5,Yes,NaN,NaN
4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Circle,Black,Other,Yes,8.0,Yes,NaN,NaN

In [59]:
df.tail()

,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
445,fire-boltt,5999.0,8999.0,33.337037,2.500000,11594.726343,Circle,Grey,Silicon,Yes,22.0,Yes,NaN,NaN
446,fire-boltt,3700.0,9999.0,62.996300,4.031306,11594.726343,Square,Black,Silicon,Yes,8.0,Yes,NaN,NaN
447,fire-boltt,5999.0,8999.0,33.337037,2.500000,11594.726343,Circle,Gold,Silicon,Yes,22.0,Yes,NaN,NaN
448,fire-boltt,3200.0,7999.0,59.994999,4.031306,11594.726343,Square,Blue,Silicon,Yes,22.0,Yes,NaN,NaN
449,fire-boltt,3000.0,7999.0,62.495312,4.031306,11594.726343,Square,Black,Silicon,Yes,22.0,Yes,NaN,NaN

In [12]:
df.isnull().sum()

Brand                    0
Current Price           10
Original Price          73
Discount Percentage     73
Rating                   6
Number OF Ratings       59
Model Name              35
Dial Shape             123
Strap Color            123
Strap Material          69
Touchscreen             37
Battery Life (Days)     32
Bluetooth                6
Display Size            30
Weight                 186
dtype: int64

In [16]:
##data pre-processing

In [15]:
num_cols = [
    "Original Price", "Discount Percentage", "Rating",
    "Number OF Ratings", "Battery Life (Days)",
    "Display Size", "Weight"
]

df[num_cols].dtypes

Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Battery Life (Days)    float64
Display Size            object
Weight                  object
dtype: object

In [17]:
df[["Display Size","Weight"]].dtypes

Display Size    object
Weight          object
dtype: object

In [31]:
df["Display Size"]=(df["Display Size"].astype("str").str.replace("inch","",regex=False).str.strip())
df["Display Size"]=pd.to_numeric(df["Display Size"],errors="coerce")

In [34]:
df[["Display Size"]].dtypes

Display Size    float64
dtype: object

In [36]:
df["Weight"]=(df["Weight"].astype("str").str.replace("g","",regex=False).str.strip())
df["Weight"]=pd.to_numeric(df["Weight"],errors="coerce")

In [37]:
df[["Weight"]].dtypes

Weight    float64
dtype: object

In [38]:
df[num_cols].dtypes

Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Battery Life (Days)    float64
Display Size           float64
Weight                 float64
dtype: object

In [67]:
df.dtypes

Brand                   object
Current Price          float64
Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Dial Shape              object
Strap Color             object
Strap Material          object
Touchscreen              int64
Battery Life (Days)    float64
Bluetooth                int64
Display Size           float64
Weight                 float64
dtype: object

In [68]:
#df.drop(columns=["Model Name"],inplace=True)

In [69]:
num_cols=df.select_dtypes(include='number').columns

In [70]:
df[num_cols]=df[num_cols].fillna(df[num_cols].mean()[0])
df.head()

C:\Users\dilsh\AppData\Local\Temp\ipykernel_29336\2311277182.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[num_cols]=df[num_cols].fillna(df[num_cols].mean()[0])

,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,noise,82990.0,89900.0,7.686318,4.0,65.0,Circle,Black,Silicon,1,8.0,1,12747.554545,12747.554545
1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,Circle,Black,Silicon,1,3.5,1,12747.554545,12747.554545
2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Circle,Black,Silicon,1,8.0,1,12747.554545,12747.554545
3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,Circle,Black,Silicon,1,3.5,1,12747.554545,12747.554545
4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Circle,Black,Other,1,8.0,1,12747.554545,12747.554545

In [71]:
cato_columns=df.select_dtypes(include='object').columns

In [53]:
for col in cato_columns:
    df[col]=df[col].fillna(df[col].mode()[0])

In [72]:
binary_col=["Touchscreen","Bluetooth"]
binary_col

['Touchscreen', 'Bluetooth']

In [73]:
for col in binary_col:
    df[col]=df[col].map({"Yes":1,"No":0})

In [86]:
df.head()

,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight,...,Strap Material_Metal,Strap Material_Nylon,Strap Material_Other,Strap Material_Plastic,Strap Material_Polycarbonate,Strap Material_Rubber,Strap Material_Silicon,Strap Material_Stainless Steel,Strap Material_Synthetic,Strap Material_Thermo Plastic Polyurethene
0,82990.0,89900.0,7.686318,4.0,65.0,NaN,8.0,NaN,12747.554545,12747.554545,...,False,False,False,False,False,False,True,False,False,False
1,3799.0,16999.0,77.651627,4.3,20788.0,NaN,3.5,NaN,12747.554545,12747.554545,...,False,False,False,False,False,False,True,False,False,False
2,1999.0,7990.0,74.981227,3.8,21724.0,NaN,8.0,NaN,12747.554545,12747.554545,...,False,False,False,False,False,False,True,False,False,False
3,1799.0,19999.0,91.004550,4.3,13244.0,NaN,3.5,NaN,12747.554545,12747.554545,...,False,False,False,False,False,False,True,False,False,False
4,1599.0,4999.0,68.013603,4.1,13901.0,NaN,8.0,NaN,12747.554545,12747.554545,...,False,False,True,False,False,False,False,False,False,False